/*Type selector for html general layout*/
html, body {
    background-color: rgb(240, 255, 240);
}
h2 {
    font-weight: 800;
}
footer {
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

/*Flex box classes*/
.page_logo_name_1 {
    color: limegreen;
    display: flex;
    width: fit-content;
    height: 100px;
}
.page_nav_button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border: 2px solid black;
    width: 12rem;
    height: 3rem;
}
.page_logo_name_1 h1 {
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
}
.page_nav_button p {
    color: white;
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
}
.page_logo_image_1 {
    display: flex;
    padding: 15px;
    width: 15vw;
    height: 15vw;
}

.flex_container_1 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}
.flex_container_2 {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 10px;
}
.flex_container_2 a {
    text-decoration: none;
}
.flex_container_input {
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    padding: 0.1rem;
    gap: 10px;
}
.flex_input_row {
    display: flex;

    width: 25rem;
    height: 25rem;
    justify-content: flex-start;
    align-items: flex-start; 
    align-content: flex-start;
    flex-direction: column;
    padding: 0.5rem;
}
.flex_label_row {
    display: flex;

    width: 5rem;
    height: 25rem;
    justify-content: flex-start;
    align-items: flex-start; 
    align-content: flex-start;
    flex-direction: column;
    padding: 0.5rem;
}
.input_box {
    display: flex;
    padding: 0.5rem;
    width: 25vw;
    height: 3vw;
}
.input_box input {
    text-align: start;
    vertical-align: top;
}
.input_label {
    display: flex;
    padding: 0.5rem;
    width: 5vw;
    height: 3vw;
}
.submit_button button {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;  
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 3rem;
    width: 10rem;
    height: 2.5rem;
}

/*Utility classes*/
.util_page_selected_color {
    background-color: #e6f0ff;
    border: 2px solid rgba(0, 0, 255, 0.1);
}
.util_page_selected_color p {
    color: rgba(0, 0, 255, 0.75);
    opacity: 0.5;
}
.util_extend_message_label {
    width: 35vw;
    height: 10vw;
}
